.container {
  @apply relative w-[300px] h-[300px] d:w-[440px] d:h-[440px] xl:w-[600px] xl:h-[600px];
}

.mainImage {
  @apply absolute z-10 rounded-2xl shadow-xl overflow-hidden bg-black left-[60px] top-[60px] w-[180px] h-[180px] d:left-[70px] d:top-[70px] d:w-[264px] d:h-[264px] xl:left-[120px] xl:top-[120px] xl:w-[360px] xl:h-[360px];
}

.firstImage {
  @apply absolute rounded-xl shadow-lg overflow-hidden left-0 top-0 w-[100px] h-[100px] d:w-[150px] d:h-[150px] xl:w-[200px] xl:h-[200px];
  animation-name: firstMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes firstMove {
  0% {
    top: 40%;
    left: 40%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.secondImage {
  @apply absolute bg-primary-500 rounded-xl shadow-lg overflow-hidden right-[5px] top-[5px] w-[120px] h-[120px]  d:right-[10px] d:top-[10px] d:w-[176px] d:h-[176px] xl:right-[10px] xl:top-[10px] xl:w-[240px] xl:h-[240px];
  animation-name: secondMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes secondMove {
  0% {
    top: 30%;
    right: 30%;
  }
  100% {
    top: 5%;
    right: 5%;
  }
}

.thirdImage {
  @apply absolute bg-primary-400 rounded-xl shadow-lg overflow-hidden left-[25px] bottom-[25px] w-[105px] h-[105px] d:left-[36px] d:bottom-[36px] d:w-[154px] d:h-[154px] xl:left-[50px] xl:bottom-[50px] xl:w-[210px] xl:h-[210px];
  animation-name: thirdMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes thirdMove {
  0% {
    bottom: 30%;
    left: 30%;
  }
  100% {
    bottom: 5%;
    left: 5%;
  }
}

.forthImage {
  @apply absolute rounded-xl shadow-lg overflow-hidden bottom-0 right-0 w-[105px] h-[105px] d:w-[154px] d:h-[154px] xl:w-[210px] xl:h-[210px];
  animation-name: forthMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes forthMove {
  0% {
    bottom: 40%;
    right: 40%;
  }
  100% {
    bottom: 0;
    right: 0;
  }
}
