.cursor {
  @apply absolute h-[32px] w-[2px] lg:h-[48px] xl:h-[58px] xl:w-[4px];
  top: 50%;
  left: calc(
    100% + 0.25rem
  ); /* Adjust the distance between the cursor and the text */
  transform: translate(-50%, -50%);
  animation: cursor-blink 0.8s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contactContainer {
  @apply my-4 xxs:my-8 ml-auto mr-4;
  visibility: hidden;
  animation: fadeIn 0s 4s forwards;
}

@keyframes fadeIn {
  to {
    visibility: visible;
  }
}
