.container {
  @apply fixed flex justify-center items-center z-40 pb-[4px] bottom-[16px] md:bottom-[32px]  w-[64px] h-[64px] rounded-full cursor-pointer animate-bounce;
}

.triangle {
  @apply cursor-pointer -rotate-90;
  visibility: hidden;
  animation: fadeIn 0s 6s forwards;
}

@keyframes fadeIn {
  to {
    visibility: visible;
  }
}
