@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bacasime+Antique&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 254, 252);
  background-color: #000; /* Ensures solid black background */
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #000 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #1f3343 var(--tw-gradient-to-position);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black; /* Ensures Safari sees black background */
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  background-blend-mode: normal; /* Ensures the gradient blends properly */
}
