.baseInput {
  @apply my-2 py-2 px-4 rounded-md outline-none;
}

.error {
  @apply bg-red-900 bg-opacity-60;
  animation: shake 0.3s 1 0s;
}

.area,
.input {
  @apply baseInput;
}

.area {
  @apply resize-none min-h-[200px];
}

.inputError,
.areaError {
  @apply baseInput error;
}

.areaError {
  @apply resize-none min-h-[200px];
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
